<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid navi-header">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/">
				<p class="web-title-first">d</p>
				<p class="web-title">otconf-</p>
				<p class="web-title-green">a</p>
				<p class="web-title">ssist</p>
			</a>
		</div>
	</div>
</nav>

<div class="container-fluid">
  <div class="row-fluid">
	<div class="span12">
	   <%= yield %>
	</div>
  </div><!--/row-->

</div> <!-- /container -->
