<div class="page-header">
  <h1>Welcome Admin</h1>
</div>
<button onclick="location.href='/admin/show_request_accounts'" class="btn btn-primary navi-button">Show Request Accounts </button>
<button onclick="location.href='/admin/inputlist'" class="btn btn-primary navi-button" >Show Inputs </button>
<button onclick="location.href='/admin/manage_announcements'" class="btn btn-primary navi-button">Show Announcements </button>
<button onclick="location.href='/admin/manage_user_forwarders'" class="btn btn-primary navi-button">Show Forwarders </button>
<button onclick="location.href='/admin/accountlist'" class="btn btn-primary navi-button">Show Accounts </button>
<button onclick="location.href='/admin/manage_splunk_hosts'" class="btn btn-primary navi-button">Show Splunk Hosts </button>
<button onclick="location.href='/admin/manage_prices'" class="btn btn-primary navi-button">Show Prices</button>
<button onclick="location.href='/admin/show_user_apps'" class="btn btn-primary navi-button">Show Apps</button>
