<script>
   var list_name =[];
   var list_status =[];
   var list_account = [];
   var list_id = [];
   var listNotMatchingNames = [];
   var targetTableRow="admin-request-accounts-table-row-";
   var searchTermLengthPrevious=0;
   function getAllRequestAccountsList()
   {
     list_name = [];
     var records=$("#request-accounts-table td[id$='-account']");
     jQuery.each(records, function(index, value) {
       list_name.push($(value).html());
     });
     list_status = [];
     var records=$("#request-accounts-table td[id$='-status']");
     jQuery.each(records, function(index, value) {
       list_status.push($(value).html());
     });
     list_account = [];
   }

   $(document).ready(function() {
      ajaxCall("list_request_accounts");
      ajaxCall("portal_account_statistics_get");
      pageSpecificSearchBox = "admin-show-request-accounts-search";
   });
</script>
<div class="page-header">
  <h1>List of Requested Accounts</h1>
</div>
       <div class="inner-addon left-addon">
          <input type="text" class="textbox pull-right" id="admin-show-request-accounts-search" role="search" placeholder = "Search Filter" onkeyup="doSearch(this,'request-accounts-table','')"/>
       </div>
  <div class="accounts-table" id="adminshowsaccounts">
       <table class="table table-bordered table-hover" id="request-accounts-table" style="">
       </table>
  </div> <!-- close class accounts table-->
  <br>
<button type="button" onclick="location.href='/admin/home'" class="btn btn-primary" style="">Back</button>
