<script>
   var list_name =[];
   var list_id = [];
   var list_status = [];
   var list_account = [];
   var list_environment = [];
   var listNotMatchingNames = [];
   var targetTableRow="admin-show-user-apps-table-row-";
   var searchTermLengthPrevious=0;
   function getAllUserAppsList()
   {
     list_name = [];
     var records=$("#admin-show-user-apps-table td[id$='-name']");
     jQuery.each(records, function(index, value) {
       list_name.push($(value).html());
     });
     list_status = [];
     var records=$("#admin-show-user-apps-table td[id$='-status']");
     jQuery.each(records, function(index, value) {
       list_status.push($(value).html());
     });
     list_account = [];
     var records=$("#admin-show-user-apps-table td[id$='-username']");
     jQuery.each(records, function(index, value) {
       list_account.push($(value).html());
     });
     list_environment = [];
     var records=$("#admin-show-user-apps-table td[id$='-environment']");
     jQuery.each(records, function(index, value) {
       list_environment.push($(value).html());
     });
   }

   $(document).ready(function() {
      ajaxCall("admin_list_user_apps");
      pageSpecificSearchBox = "admin-show-user-apps-search";
   });
</script>
   <div class="page-header">
      <h1>List of Apps</h1>
   </div> 
   <div class="alert alert-info" id="notice-admin-show-user-apps" style="display:none"></div>
   <div class="inner-addon left-addon">
     <input type="text" class="textbox pull-right" id="admin-show-user-apps-search" role="search" placeholder = "Search Filter" onkeyup="doSearch(this,'admin-show-user-apps-table','')"/>
   </div>
     <div class="class-apps-table">
        <table class="table table-bordered table-hover" id="admin-show-user-apps-table" style="">
       </table>
     </div>
     <br>
<input type="hidden" name="app" id="hidden-text-app"></input>
<button type="button" onclick="location.href='/admin/home'" class="btn btn-primary" style="">Back</button>
