Hello <%= @user %>,<br>
<br>
<%= @app %> Application has been approved and you can get Logs on Splunk.<br>
<% if @reason != nil %>
  Some Suggestions by Admin are as follows:<br>
  <%= @reason %><br>
<% end %>
Thank you for the patience.<br>
You can access dotconf-assist from <a href="http://<%= @dotconf_assist_domain%>/">HERE</a>.<br>
Also, you can reply to this email directly to contact admin or provide feedback, if you face any issues.<br>
<br>
Regards,<br>
Splunk as a Service Support Team.
