Hello,<br>
You have Requested for an Inputs request for the host <%= @forwarder %>.<br>
You can update, view or delete the request <a href="<%= @link %>"> HERE</a>.<br>
Also, you can reply to this email directly to contact admin or provide feedback, if you face any issues.<br>
<br>
Regards,<br>
Splunk as a Service Support Team.
