Hello Admin,<br>
<%= @splunk_user_name %> has created an Input request for the Host <%= @forwarder %>.<br>
You can accept, reject or generate Inputs.conf <a href="<%= @link %>"> HERE</a>.<br>
Regards,<br>
Splunk as a Service Team.
