Hello <%= @username %>,<br>
<br>
Thank you very much for your valuable Feedback.<br>
Our Admins will make sure to make things right soon/in the next update scheduled, as the issue demands.<br>
Do check the "Announcements" section in Settings for any news from the Admins.<br>
<br>
Thank you for your cooperation.<br>
You can access dotconf-assist from <a href="http://<%= @dotconf_assist_domain%>/">HERE</a>.<br>
Also, you can reply to this email directly to contact admin or provide feedback, if you face any issues.<br>
<br>
Regards,<br>
Splunk as a Service Support Team.
